.admin-sidebar {
    width: 250px !important;
    background-color: #333333 !important;
    color: #ffffff !important;
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    transition: width 0.3s ease !important;
  }
  
  .admin-sidebar.closed {
    width: 80px !important;
  }
  
  .toggle-btn {
    background: none !important;
    border: none !important;
    margin: 16px !important;
    cursor: pointer !important;
  }
  
  .hamburger-icon div {
    width: 25px !important;
    height: 3px !important;
    background-color: #ffffff !important;
    margin: 5px 0 !important;
  }
  
  .sidebar-content {
    flex: 1 !important;
    padding: 20px !important;
    overflow-x: hidden !important;
  }
  
  .sidebar-content h2,
  .sidebar-content h3 {
    color: #ff4c4c !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
  }
  
  ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  li {
    display: flex !important;
    align-items: center !important;
    padding: 12px !important;
    margin-bottom: 10px !important;
    border-radius: 8px !important;
    background-color: #444444 !important;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s !important;
  }
  
  .menu-item-content {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    color: #ffffff !important;
  }
  
  li:hover {
    background-color: #ff4c4c !important;
  }
  
  li:hover .menu-item-content {
    color: #111111 !important;

  }
  
  li.active {
    background-color: #ff4c4c !important;
    color:white !important;

  }
  
  li.active .menu-item-content {
    color: #111111 !important;
    font-weight: bold !important;
  }
  
  .icon {
    color:#eeeeee!important;
    font-size: 20px !important;
  }
  
  .text {
    color: #eeeeee!important;
    font-size: 16px !important;
  }
  
  /* LogOut Button Custom */
  .logout-button {
    margin-top: 20px !important;
    width: 100% !important;
    padding: 12px 0 !important;
    background-color: #cc0000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 16px !important;
    border: none !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
  }
  
  .logout-button:hover {
    background-color: #990000 !important;
    color: #ffffff !important;
  }
  