.admin-sidebar {
  width: 250px;
  background-color: #333333;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.admin-sidebar.closed {
  width: 80px;
}

.admin-sidebar .toggle-btn {
  background: none;
  border: none;
  margin: 16px;
  cursor: pointer;
}

.admin-sidebar .hamburger-icon div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
}

.admin-sidebar .sidebar-content {
  flex: 1;
  padding: 20px;
  overflow-x: hidden;
}

.admin-sidebar .sidebar-content h2,
.admin-sidebar .sidebar-content h3 {
  color: #ff4c4c;
  font-weight: bold;
  margin-bottom: 20px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar li {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #444444;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.admin-sidebar li:hover {
  background-color: #ff4c4c;
}

.admin-sidebar li:hover .menu-item-content {
  color: #111111;
}

.admin-sidebar li.active {
  background-color: #ff4c4c;
  color: #ffffff;
}

.admin-sidebar li.active .menu-item-content {
  color: #111111;
  font-weight: bold;
}

.admin-sidebar .menu-item-content {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.admin-sidebar .icon {
  color: #eeeeee;
  font-size: 20px;
}

.admin-sidebar .text {
  color: #eeeeee;
  font-size: 16px;
}

.admin-sidebar .logout-button {
  margin-top: 20px;
  width: 100%;
  padding: 12px 0;
  background-color: #cc0000;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-sidebar .logout-button:hover {
  background-color: #990000;
  color: #ffffff;
}
