body {
  background-color: #f5f5dc;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 0.8s ease-in-out;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.login-box {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  padding: 40px;
  width: 100%;
  max-width: 400px;
  margin-top: 5dvh;
  transition: all 0.4s ease;
}

.MuiTextField-root {
  margin-bottom: 20px;
}

.MuiButton-root:active {
  transform: scale(0.97);
}
