.worker-dashboard {
    display: flex;
  }
  
  .offers-container {
    flex: 1;
    padding: 24px;
  }
  
  .offers-container.sidebar-open {
    margin-left: 250px;
  }
  
  .offers-container.sidebar-closed {
    margin-left: 80px;
  }
  
  .offers-title {
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .offer-card {
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .offer-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 12px;
  }
  