.worker-dashboard-offers {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5dc;
}

.worker-offers-container {
  flex: 1;
  padding: 40px;
  transition: margin-left 0.3s ease;
}

.worker-offer-status{
  margin-top: 5px;
  margin-bottom: 5px;
}
.worker-offers-container.sidebar-open {
  margin-left: 250px;
}

.worker-offers-container.sidebar-closed {
  margin-left: 80px;
}

.worker-offers-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.worker-offers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
}

.worker-offer-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: transform 0.3s ease;
}

.worker-offer-card:hover {
  transform: translateY(-5px);
}

.worker-offer-title {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.worker-offer-description {
  color: #555;
  font-size: 16px;
  margin-bottom: 10px;
}

.worker-offer-category {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.worker-price-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.worker-price-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.worker-send-button,
.worker-contact-button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.worker-send-button {
  background-color: #333;
  color: #fff;
  border: none;
}

.worker-send-button:hover {
  background-color: #555;
}

.worker-contact-button {
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
  margin-top: 10px;
}

.worker-contact-button:hover {
  background-color: #333;
  color: #fff;
}
.worker-view-button {
  background-color: #8b8b8b;
  color: #fff;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.worker-view-button:hover {
  background-color: #666;
}

.worker-issue-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff8dc;
  border: 2px solid #333;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.worker-issue-close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.worker-issue-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
}
